<%- include('./includes/header',{title}) %>
    <main>
        <section class="lux">
            <div class="banner mb-5">
                <div class="container py-2">
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <h2>Fakhaama Produit</h2>
                            <p>
                                <%= title %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-2">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-5">
                        <div class="product-card">
                            <div class="thumbnail p-0 m-0">
                                <img src="<%= storage(product.photo,'public') %>"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="product-details text-center text-md-start">
                            <h1 class="title">
                                <%= title %>
                            </h1>
                            <p class="description">
                                <%= product.description %>
                            </p>
                            <span class="price">
                                <%= product.price %><span class="price-symbole">MAD</span>
                            </span>
                            <form action="/order" class="order-form" method="POST">
                                <div class="note">Remplissez le formulaire pour passer une commande</div>
                                <input type="text" name="product" value="<%= product.id %>" hidden />
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="name" class="form-label">Nom complet:</label>
                                        <input type="text" name="name" class="form-control" id="name" aria-describedby="name">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="phone" class="form-label">Téléphone:</label>
                                        <input type="tel" name="phone" class="form-control" id="phone">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="city" class="form-label">Ville:</label>
                                        <input type="text" name="city" class="form-control" id="city">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="address" class="form-label">Adresse:</label>
                                        <input type="text" name="address" class="form-control" id="address">
                                    </div>
                                    <div class="mb-3 col-12">
                                        <label for="note" class="form-label">Note:</label>
                                        <textarea id="note" name="note" class="form-control" rows="5"></textarea>
                                    </div>
                                    <div class="mb-3 col-12">
                                        <button type="submit" class="order-now w-100">Commander</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-breif py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>
                            <%= product.full_description %>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card text-dark" id="reviews">
                            <% reviews.forEach((review,index)=> { %>
                                <div class="card-body p-4">
                                    <% if (index==0) {%>
                                        <h4 class="mb-0">Avis clients sur le produit</h4>
                                        <p class="fw-light mb-4 pb-2">Témoignages élogieux de satisfaction et
                                            d'expériences enchantées</p>
                                        <% } %>
                                            <div
                                                class="d-flex flex-start <% if (index == reviews.length -1){%>mb-5<%}%>">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="https://eu.ui-avatars.com/api/?name=<%= review.name.replaceAll(' ','+') %>&size=250"
                                                    alt="avatar" width="60" height="60">
                                                <div>
                                                    <h6 class="fw-bold mb-1">
                                                        <%= review.name %>
                                                    </h6>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <p class="mb-0">
                                                            <%= review.date %>
                                                        </p>
                                                    </div>
                                                    <p class="mb-0">
                                                        <%= review.comment %>
                                                    </p>
                                                </div>
                                            </div>
                                </div>
                                <% }); %>
                                    <form action="/review" class="order-form" method="POST">
                                        <div class="note">Ajoutez votre avis sur ce produit:</div>
                                        <input type="text" name="product" hidden="" value="<%= product.id %>">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="name" class="form-label">Votre nom:</label>
                                                <input required type="text" class="form-control" id="name" name="name" aria-describedby="name">
                                            </div>
                                            <div class="mb-3 col-12">
                                                <label for="note" class="form-label">Votre avis:</label>
                                                <textarea required id="note" name="comment" class="form-control" rows="5"></textarea>
                                            </div>
                                            <div class="mb-3 col-12">
                                                <button type="submit" class="order-now w-100">Postez votre avis
                                                    maintenant</button>
                                            </div>
                                        </div>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lux">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-auto text-center">
                        <h2>Produit associé</h2>
                        <p>Autres produits que vous pourriez également aimer acheter</p>
                    </div>
                </div>
            </div>
            <div class="container pb-2">
                <div class="row justify-content-center">
                    <% linkedProducts.slice(0,4).forEach(product=> { %>
                        <div class="col-md-3 mb-5">
                            <div class="product-card">
                                <div class="thumbnail">
                                    <span class="price">
                                        <%= product.price %><span class="price-symbole">MAD</span>
                                    </span>
                                    <img src="<%= storage(product.photo,'public') %>" alt="<%= product.title%>">
                                </div>
                                <div class="details">
                                    <h3>
                                        <%= product.title %>
                                    </h3>
                                    <p>
                                        <%= product.description%>
                                    </p>
                                    <a href="/product/<%= product.id %>" class="order-now">Commandez maintenant</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </section>
    </main>
    <%- include("./includes/footer") %>