<%- include('./includes/header',{title}) %>
    <main>
        <section class="lux">
            <div class="banner mb-5">
                <div class="container py-5">
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <h2>Boutique Fakhaama</h2>
                            <p>une symphonie parfumée d'élégance et d'opulence</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-2">
                <div class="row justify-content-center">
                    <% products.forEach(product => { %>
                        <div class="col-md-3 mb-5">
                            <div class="product-card">
                                <div class="thumbnail">
                                    <span class="price"><%= product.price %><span class="price-symbole">MAD</span></span>
                                    <img src="<%= product.photo %>"
                                        alt="<%= product.title %>">
                                </div>
                                <div class="details">
                                    <h3><%= product.title %></h3>
                                    <p><%= product.description %></p>
                                    <a href="/product/<%= product.id %>" title="<%= product.title %>" class="order-now">Commandez maintenant</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </section>
    </main>
<%- include("./includes/footer") %>